{% extends 'base.html.twig' %}
{% block body %}

    <br><h1>Produktu darbnīca</h1><br>

    <a class="button center" href="{{ path('product_info') }}">Datubāze ar produktiem</a>
    <a class="button center" href="{{ path('product_create') }}">Pievienot produktu</a>

{% endblock %}