{% extends '@Event/Default/base.html.twig' %}
{% block body %}

    <br><h1>Product workshop</h1><br>

    <a class="button center" href="{{ path('product_info') }}">Database with products</a>
    <a class="button center" href="{{ path('product_create') }}">Add product</a>



{% endblock %}